body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-customIndex{
    background-color: #F1F1F1;
}


.text-primary:hover{
    text-decoration: none;
}

.profile-pic{
    border-radius: 50%;
    width: 100%;
    height :auto;
    transition:0.3s;
}

#profile-pic{
    position: relative;
}
.overlay-text{
    color:black;
    width:90%;
    height:auto;
    transition: 0.3s;
    text-align:center;
    position: absolute;
    bottom:40%;
    opacity:0;
    border-radius: 50%;
    transition:0.3s;
}

#profile-pic{
    border-radius: 50%;
}
#profile-pic:hover .profile-pic{
    opacity: 0.8;
}

#profile-pic:hover .overlay-text{
    opacity : 1;
}

.UWaterloo-link{
    color :inherit;
    transition:0.3s;
    color : #ba31f5;
}

.UWaterloo-link:hover{
    color :#761f9c;
    text-decoration: none;
}

.container{
    margin-top : 10rem;
}

.ECE-link{
  color: inherit;
}
.ECE-link:hover{
  text-decoration: none;
  color: #E4B429	;
}