body {
    font-family: "Comic Sans MS", "Comic Sans";
    background-color: #FFD1DC;
}


.main {
    display: flex;
    flex-direction: column;
}

.main-image {
    width: 18%;
    margin: 0 auto;
    border-radius: 15%;
}

.main > .content {
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 40%;
}

.form > button {
    width: 120px;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px
}

.yes:hover {
    color: green;
}

.no:hover {
    color: red;
}